<div class="row" ng-show="noMatches">
  Uh oh, looks like we couldn't find any more heroes that matched your needs. Come back later--someone new may pop up!
</div>
  <div class="row" ng-show="!noMatches">
      <md-card class="md-default-theme">
        <md-card-content class="hero-background-image">
        <div class="pull-right text-large">{{match.score | number:0}}
        </div>
        <div class="pull-left">
          <img class="profile-pic" ng-if="match.pictureUrl" src="{{match.pictureUrl}}">
        </div>
        <div>
          <h3>{{match.name}}</h3>
          <p>
            {{match.title}}
          </p>
        </div>
        </md-card-content>
      </md-card>
      <md-card class="md-default-theme retailer-background">
        <md-card-content>
          <div class="col-md-6">
            <h4>Highlights</h4>
            <ul>
              <li>
                Can fly
              </li>
              <li>
                Bulletproof
              </li>
              <li>
                Superman
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4>Details</h4>
            <ul>
              <li>
                Awesome
              </li>
              <li>
                Bulletproof
              </li>
              <li>
                Superman
              </li>
            </ul>
          </div>
          <br>
          &nbsp;
          <div class="row">
            <div class="col-md-12 centered">
              <button class="btn-width-medium md-fab md-warning md-button md-default-theme" aria-label="Button" ng-click="tag(false)"><i class="fa fa-times"></i></button>
              &nbsp;&nbsp;
              <a href=""><button class="btn-width-medium md-fab md-primary md-button md-default-theme" aria-label="Button" ng-click="tag(true)"><i class="fa fa-star"></i></button></a>
          </div>
        </md-card-content>
      </md-card>
  </div>
</div>
