.hero-background-image{
  /*background: url('/assets/images/newyork.jpg') 0/cover;
  background-color: blue;
  color: #FFFFFF;*/
}
.hero-background-image:hover{
  background-color: #199F93;
  color: #FFFFFF;
}

.user-card {
  cursor: pointer;
}

.profile-pic {
}
