<div ng-include="'components/navbar/navbar.html'"></div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <strong>Availability:&nbsp;</strong>
      <select ng-model="availability">
        <option value="Available">All Available</option>
        <option value="Full Time">Full Time</option>
        <option value="Part Time">Part Time</option>
        <option value="Temporary">Temporary</option>
        <option value="Not Available">Not Available</option>
        <option value="All">All</option>
      </select>
      &nbsp;&nbsp;&nbsp;
      <strong>Tag:&nbsp;</strong><input ng-model="searchedTag">
    </div>
    <br>&nbsp;
  </div>
  <div class="row">
    <div class="col-md-4" ng-repeat="user in users | userFilter:availability:searchedTag">
      <a ng-href="/profile/view/{{user._id}}" class="list-group-item user-card">
        <div class="centered">
          <div>
            <img ng-src="{{user.pictureUrl}}" ng-show="user.pictureUrl" class="img-circle">
            <img src="/assets/images/noUser.png" ng-show="!user.pictureUrl" class="img-circle">
            <br>
            <br>
          </div>
          <div class="name-text">{{user.name}}</div>
          <div class="title-muted">{{user.title}}</div>
          <br>
          <span class="label label-spaced" ng-class="{
            'label-danger':(user.traits.availability == 'Not Available' || !user.traits.availability),
            'label-primary':user.traits.availability !== 'Not Available'
          }">
            {{user.traits.availability || "Not Available"}}
          </span>
          <br>
          <br>
          <br>
          <div>
            <span ng-repeat="tag in user.traits.tags | limitTo: 6">
              <span class="label label-default label-spaced">{{tag.tag}}</span>&nbsp;
            </span>
          </div>
          <br>

        </div>
      </a>
    </div>
  </div>
</div>

</div>
<div ng-include="'components/footer/footer.html'"></div>
