<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <md-card class="md-default-theme retailer-background">
        <md-card-content>
          <h3 class="centered">Mission Details</h3>
          <br>
          <div class="form-group row">
            <label class="col-md-3 control-label">Mission</label>
            <div class="col-md-9">
              {{mission.title}}
            </div>
            &nbsp;
          </div>
          <div class="form-group row">
            <label class="col-md-3 control-label">Status</label>
            <div class="col-md-9">
              {{mission.status}}
            </div>
            &nbsp;
          </div>
          <div class="form-group row">
            <label class="col-md-3 control-label">Matches</label>
            <div class="col-md-9">
              {{matches.length}}
            </div>
            &nbsp;
          </div>
          <div class="form-group row">
            <label class="col-md-3 control-label">Submitted</label>
            <div class="col-md-9">
              {{mission.times.submitted | date:"short"}}
            </div>
            &nbsp;
          </div>
          <div class="form-group row">
            <label class="col-md-3 control-label">Hours This Week</label>
            <div class="col-md-9">
              {{mission.traits.hours}}
            </div>
            &nbsp;
          </div>
          &nbsp;

          <div class="form-group row">
            <label for="select" class="col-md-3 control-label">Industry</label>
            <div class="col-md-9">
              <span ng-show="mission.traits.industry">{{industryKey[mission.traits.industry].name}}</span>
              <span ng-show="!mission.traits.industry">Cross-Industry</span>
            </div>
            &nbsp;
          </div>
          <div class="form-group row">
            <label for="select" class="col-md-3 control-label">Service Area</label>
            <div class="col-md-9">
              <span ng-show="mission.traits.service">{{serviceKey[mission.traits.service].name}}</span>
              <span ng-show="!mission.traits.service">Cross-Service Area</span>
            </div>
            &nbsp;
          </div>
          <br>
          <div class="centered">
            <button class="btn btn-sm btn-danger" ng-if="owner && mission.open" ng-click="abort()">Abort Mission</button>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-8" ng-if="mission.open" ng-controller="MatchToHeroesCtrl" ng-include="'app/routes/mission/match/match.html'">
    </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
