<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Matches</h4>
</div>
<div class="modal-body">
  <div ng-repeat="match in matches | filter: {'missionWants': true}">
  <md-card class="md-default-theme">
    <md-card-content>
      <div class="pull-left">
        <img ng-src="{{match.user.pictureUrl}}" style="padding: 5px">
      </div>
      <div>
        <strong>{{match.user.name}}</strong><br>
        {{match.user.title}}<br>
        <a href="{{match.user.linkedin.publicProfileUrl}}"><button class="btn btn-md btn-default"><span class="fa fa-linkedin"></span></button></a>
      </div>
    </md-card-content>
  </md-card>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btm-default" ng-click="$dismiss()">Done</button>
</div>
