<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="centered">
    <h3>Mission Details</h3>
    <p>Or select an <a href="/missions">existing mission</a></p>
  </div>
    <br>
    <form class="form" name="form" ng-submit="register(request)">
      <div class="form-group">
        <label for="select" class="col-lg-3 control-label">Title</label>
        <div class="col-lg-9">
          <input class="form-control" id="select" ng-model="request.title" maxlength="50" ng-required>
        </div>
        &nbsp;
      </div>
      <div class="form-group">
        <label for="select" class="col-lg-3 control-label">Short Description</label>
        <div class="col-lg-9">
          <textarea class="form-control" id="select" ng-model="request.description" maxlength="300" ng-required>
          </textarea>
        </div>
        &nbsp;
      </div>
      <div class="form-group">
        <label for="select" class="col-lg-3 control-label">Hours Needed Today</label>
        <div class="col-lg-9">
          <select class="form-control" id="select" ng-model="request.traits.hours" convert-to-number>
            <option value="{{option}}" ng-repeat="option in hoursOptions">{{option}}</option>
          </select>
        </div>
        &nbsp;
      </div>
      &nbsp;

      <div class="form-group">
        <label for="select" class="col-lg-3 control-label">Industry</label>
        <div class="col-lg-9">
           <select class="form-control" id="select" ng-model="request.traits.industry">
             <option value="">Cross-Industry</option>
             <option ng-repeat="(iKey, industry) in industries" value="{{iKey}}">{{industry.name}}</option>
           </select>
        </div>
        &nbsp;
       </div>
       <div class="form-group">
         <label for="select" class="col-lg-3 control-label">Service Area</label>
         <div class="col-lg-9">
            <select class="form-control" id="select" ng-model="request.traits.service">
              <option value="">Cross Service Area</option>
              <option ng-repeat="(sKey, service) in services" value="{{sKey}}">{{service.name}}</option>
            </select>
         </div>
         &nbsp;
        </div>
        <br>
        <div class="centered">
          <button class="btn btn-lg btn-primary" ng-click="makeRequest()">Activate</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
