<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
    <h3 class="centered">My Alter Ego</h3>
    <br>
    <form class="form" name="form" ng-submit="register(request)" novalidate>
      <div class="form-group">
        <label for="select" class="col-lg-3 control-label">Role</label>
        <div class="col-lg-9">
          <input class="form-control" id="select" ng-model="profile.title" maxchars="70">
        </div>
        &nbsp;
      </div>
      <div class="form-group">
        <label for="hours" class="col-lg-3 control-label">Average Hours Available per Day</label>
        <div class="col-lg-9">
          <select class="form-control" id="select" ng-model="profile.traits.hours">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        &nbsp;
      </div>
      &nbsp;

      <div class="form-group">
        <label for="select" class="col-lg-3 control-label">Preferred Industries</label>
        <div class="col-lg-9">
           <select class="form-control" id="select" ng-model="test">
             <option value="">Cross-Industry</option>
             <option ng-repeat="domain in domains" value="{{domain}}">{{domain}}</option>
           </select>
        </div>
        &nbsp;
       </div>
       <div class="form-group">
         <label for="select" class="col-lg-3 control-label">Preferred Service Area</label>
         <div class="col-lg-9">
            <select class="form-control" id="select" ng-model="test">
              <option value="">Cross Service Area</option>
              <option ng-repeat="domain in domains" value="{{domain}}">{{domain}}</option>
            </select>
         </div>
         &nbsp;
       </div>
        <br>
        <div class="centered">
          <button class="btn btn-lg btn-primary" ng-click="save()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
