<div ng-include="'components/navbar/navbar.html'"></div>
<div class="visit-cover" ng-class="coverClass">
  <div class="visit-cover-gradient">
  </div>
  <div class="visit-container-container">
    <div class="container">
      <div>
        <div class="visit-header">
          <div class="visit-logo-wrapper">
            <img class="img-responsive visit-logo" src="{{profile.pictureUrl}}">
          </div>
          <div class="visit-title">
            {{profile.name}}
          </div>
        </div>
        <!--START Visit cover buttons-->
        <div class="visit-cover-buttons">
          <span class="dropdown">
            <button class="dropdown-toggle btn btn-lg" ng-class="{'btn-success':profile.traits.available == 'Full'}"
            type="button" id="statusMenu" data-toggle="dropdown" aria-expanded="true">
              <span>{{profile.traits.availability || "Not Available"}}</span>
              &nbsp;
              <span class="caret" ng-if="isOwner"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="statusMenu" ng-show="isOwner">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="updateAvailability('Full Time')">Full Time</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="updateAvailability('Part Time')">Part Time</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="updateAvailability('Temporary')">Only a few hours</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="updateAvailability('Not Available')">Not available</a></li>
            </ul>
          </span>
        </div>
        <!--END Visit Cover Buttons-->

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group row" ng-show="profile.title || isOwner">
            <div class="col-md-12">
              <strong>Role</strong>
              <br>
              <a href="#" editable-text="profile.title" ng-show="isOwner" onaftersave="save()">
                {{profile.title || "[No title]"}}
              </a>
              <span ng-show="!isOwner">
                {{profile.title}}
              </span>
            </div>
          </div>
          <div class="centered row">
            <br>
            <a ng-href="{{profile.linkedin.publicProfileUrl}}" target="_blank">
              <button class="dropdown-toggle btn btn-lg btn-primary" type="button">
                LinkedIn
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Tags</h4>
          <form ng-submit="addTag($event)" ng-show="isOwner">
            <input ng-model="newTag">&nbsp;<button type="submit" class="btn btn-primary btn-md"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Tag</button>
            <br><br>
          </form>
          <span ng-repeat="tag in profile.traits.tags">
            <span class="label label-default" >
              {{tag.tag}}
              <span ng-show="isOwner">
                &nbsp;
                <a href="#" class="trash" ng-click="removeTag($index)">
                  x
                </a>
              </span>
            </span>
            &nbsp;
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default" ng-show="profile.seeking || isOwner">
        <div class="panel-body">
          <h4>Looking For</h4>
          <a href="#" editable-textarea="profile.traits.seeking" e-rows="7" e-cols="40" ng-show="isOwner" onaftersave="save()">
            <pre>{{ profile.traits.seeking || '[No description]' }}</pre>
          </a>
          <span ng-show="!isOwner">
            {{profile.about}}
          </span>
        </div>
      </div>
      <div class="panel panel-default" ng-show="profile.about || isOwner">
        <div class="panel-body">
          <h4>About Me</h4>
          <a href="#" editable-textarea="profile.traits.about" e-rows="7" e-cols="40" ng-show="isOwner" onaftersave="save()">
            <pre>{{ profile.traits.about || '[No description]' }}</pre>
          </a>
          <span ng-show="!isOwner">
            {{profile.about}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
